.loginContainer {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F7EDE2;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333333;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
    background-color: transparent;
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: white;
    width: 80%;
    max-width: 300px;
}

.button.signup {
    background-color: #052c4c;
}

.button.login {
    background-color: #052c4c;
}

.button.signup:hover,
.button.login:hover {
    background-color: #02192b;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.loginForm h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

.loginForm label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    align-self: flex-start;
}

.loginForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.loginForm button {
    width: 100%;
    padding: 10px;
    background-color: #F28482;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginForm button:hover {
    background-color: #C65C5C;
}

.backButton {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #ccc;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.backButton:hover {
    background-color: #bbb;
}

.error {
    color: #FF0000;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
